.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 52px;
    border-radius: 9px;
    position: fixed;
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
    background: #FFF;
    padding: 0 8px;

    box-shadow: 2px 2px 9.7px 0px rgba(0, 0, 0, 0.25);
    &_options {
        width: 95px;
        height: 43px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_item {
            width: 43px;
            height: 43px;
            flex-shrink: 0;
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 0.2s;
            &_svg {
                width: 80%;
                height: 80%;
            }
            &:hover {
                background-color: #cacaca59;
                transition-duration: 0.2s;
            }
        }
    }
    &_search {
        padding-left: 10px;
        width: 234px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 9px;
        border: none;
        outline: none;
        background-color: #cacaca28;
        font-size: 14px;
        font-family: inter;
    }
    &_reload {
        width: 43px;
        height: 43px;
        flex-shrink: 0;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.2s;
        &_svg {
            width: 75%;
            height: 75%;
        }
        &:hover {
            background-color: #cacaca59;
            transition-duration: 0.2s;
        }
    }

}
.none {
    display: none;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 50px 0;
    color: #000;

    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    display: flex;
    flex-wrap: wrap;
}
.left {
    width: 49%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 40px;

    &_block {
        width: 100%;
        height: 320px;
        padding: 0 2%;
        height: 320px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &_grade {
            width: 400px;
            height: 200px;
            border-radius: 9px;
            background: #FFF;
            box-shadow: 2px 2px 9.7px 0px rgba(0, 0, 0, 0.25);

        }
        &_name {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 600;
        }
        &_count {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    }
}
.right {
    width: 49%;
    margin-top: 40px;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &_block {
        width: 100%;
        height: 320px;
        padding: 0 2%;
        height: 320px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &_grade {
            width: 400px;
            height: 200px;
            border-radius: 9px;
            background: #FFF;
            box-shadow: 2px 2px 9.7px 0px rgba(0, 0, 0, 0.25);

        }
        &_name {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 600;
        }
        &_count {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .left, 
    .right {
        margin: 0 auto;
        width: 70%;
    }
    body {
        flex-wrap: nowrap;
        flex-direction: column;

    }
    .none {
        display: block;
    }
}
@media screen and (max-width: 900px) {
    .left {
    row-gap: 50px;
        &_block {
            flex-direction: column;
        }
    }
    .right {
        row-gap: 60px;
            &_block {
                flex-direction: column;
            }
        }
}
@media screen  and (max-width: 440px) {
    .left, 
    .right {
        &_block {
            margin: -30px 0;
            transform: scale(0.75);
        }
    }
}
.p1 {
    margin-top: 160px;
    
}
